/* Style global */

body {
  font-family: Arial, sans-serif;
  background: #e7dcdc;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111010;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  color: #220606;
  padding: 10px;
}
