/* Style global */

body {
  font-family: Arial, sans-serif;
  background: #e7dcdc;
  margin: 2rem;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #2d4f0a;
  font-weight: bold;
}
a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  color: #2e45f1;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  color: #220606;
  padding: 10px;
}
h1 {
  color: #902c2c;
}
h2 {
  color: #2535a1;
}
h3 {
  color: #624b1b;
}
.login {
  border: none;
  background-color: #1f244a;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  width: 98%;
  font-size: large;
}

.login:hover {
  background-color: #2e45f1;
}

/********************* FORMULAIRE *************************/
form {
  background-color: rgb(218, 208, 208);
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}
input,
select,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
textarea {
  resize: vertical;
}
/************** SCROLL BARRE LISTE ANNONCES *****************/

.liste-annonces {
  display: inline-block;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
