/* Style global */

body {
  font-family: Arial, sans-serif;
  background: #e7dcdc;
}

.container-p {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  padding: 2rem;
}
.container-p > div:first-child {
  flex: 3;
}

.container-p > div:last-child {
  flex: 7;
}
.container-principal {
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  padding: 2rem;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 15px rgb(107, 91, 91);
  border-radius: 20px;
  background-color: #c2bbbb;
}

/*bouton disconnect*/
#disconnect {
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  fill: rgb(222, 17, 17);
}
#disconnect:hover {
  background-color: rgb(222, 17, 17);
}

.bienvenue {
  padding-right: 10rem;
}

#ecrire-message {
  background-image: url("../img/ddd.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}
#ecrire-message2 {
  background-image: url("../img/ddd.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 20px;
  width: 50%;
  margin-bottom: 10px;
}
.conversation {
  display: flex;
  flex-direction: column;
  background-image: url("../img/ddd.png");
  border: solid 1px black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 20px;
  height: 30rem;
  width: 30rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  min-height: 0;
}

.message-me {
  align-self: self-start;
  border-radius: 10px;
  text-align: left;
  background: #687e56;
  margin: 5px;
  color: white;
  max-width: 70%;
  width: fit-content;
  padding: 0.5rem;
  word-break: break-all;
  overflow-wrap: break-word;
}
.message-him {
  align-self: self-end;
  border-radius: 10px;
  text-align: right;
  background: #284612;
  color: white;
  max-width: 70%;
  width: fit-content;
  margin: 5px;
  padding: 0.5rem;
  word-break: break-all;
}
.hour-minute {
  color: rgb(180, 176, 176);
  font-size: 0.8rem;
}
button svg {
  width: 30px;
  height: 30px;
  fill: rgb(201, 208, 200);
}
#envoyer {
  background: #3f6325;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  margin-bottom: 3rem;
  position: relative;
  border-radius: 20px;
  width: 50%;
  padding-left: 10px;
  list-style: none;
}

.nb-non-lus {
  position: absolute;
  top: -12px;
  left: 360px;
  background: red;
  color: black;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
  margin-left: 5px;
}

.btn-archiver {
  /************************/
  position: absolute;
  font-size: 12px !important;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(153, 177, 163);S
  border: #284612 solid 1px;
}

.btn-archiver:hover {
  background-color: #284612;
  color: white;
}

.liste-conv-nom:hover {
  color: #182e07 !important;
}

.messagerie {
  display: flex;
  flex-direction: row;
  gap: 20rem;
}
.liste-conv {
  width: 30rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: #656363;
  box-shadow: 0px 0px 15px rgb(107, 91, 91);
}

a {
  text-decoration: none;
}

li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0.2rem;
  border-radius: 10px;
  background-color: #c2bbbb;
  box-shadow: 0px 0px 5px rgb(107, 91, 91);
  width: 80%;
}
/***************** dernier messge style******************/
.last-msg {
  color: rgb(84, 82, 82) !important;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  margin-top: 0.4rem;
}

.heure-msg {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 10px;
  color: #666;
}
.date-in-last-msg {
  margin-left: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(110, 108, 108);
}


/* formulaire de contact */
#message-email {
    width: 500px;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#message-email input,
#message-email textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#message-email textarea {
    min-height: 180px;
    resize: vertical;
}

#message-email button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #16914b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#message-email button:hover {
    background: #11733c;
}

#togglePassword {
  cursor: pointer;
  background-color: salmon;
  padding: 2px;
  border-radius: 5px;
}
/*style profil modification*/

#form-modif-profil {
    max-width: 1500px;
    padding: 20px;
    background: #f0eded;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
}

#form-modif-profil table {
    width: 100%;
    border-collapse: collapse;
}

#form-modif-profil th {
    background: #16914b;
    color: white;
    padding: 12px;
    text-align: center;
}

#form-modif-profil td {
    padding: 15px;
    text-align: center;
    background: #fafafa;
}

#form-modif-profil input[type="text"],
#form-modif-profil textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    box-sizing: border-box;
}

#form-modif-profil textarea {
    min-height: 100px;
    resize: vertical;
}

#form-modif-profil input[type="checkbox"] {
    transform: scale(1.4);
    cursor: pointer;
}

#form-modif-profil button {
    display: block;
    margin: 20px auto 0;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    background: #16914b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#form-modif-profil button:hover {
    background: #11733c;
}

#modifier-profil{
    display: block;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #16914b;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#modifier-profil:hover , #searchButton:hover, #form-modif-profil button:hover {
    background: #11733c;
}

#searchButton{
    display: block;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background: #16914b;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

/***fermer profil modification****/
#bloc-profil {
    position: relative;
    display: inline-block;
}

#fermer-profil {
    position: absolute;
    top: -35px;
    right: 0;

    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    cursor: pointer;
    color: #666;
    background: white;
}
#fermer-profil:hover {
    color: red;
    border-color: red;
}